<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo-gGi9cOIaROPgZRczZyYWgm433919CE</string>
	<key>GCM_SENDER_ID</key>
	<string>351381212247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamcast.eventapp.leadcapture</string>
	<key>PROJECT_ID</key>
	<string>dreamcast-event--2024</string>
	<key>STORAGE_BUCKET</key>
	<string>dreamcast-event--2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351381212247:ios:7bad6687076b83046aa712</string>
	<key>DATABASE_URL</key>
	<string>https://dreamcast-event--2024-default-rtdb.firebaseio.com</string>
</dict>
</plist>